@font-face {
  font-family: 'RainyHearts';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/rainyhearts.ttf') format('truetype'); /* Use the TTF file */
}
